[ req ]
distinguished_name  = req_distinguished_name
req_extensions = v3_req
x509_extensions = v3_ca

[ req_distinguished_name ]
countryName = US
stateOrProvinceName = CA
localityName = Coronado
organizationalUnitName = NestedSet

[ v3_req ] 
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectKeyIdentifier = hash

[ v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer:always
basicConstraints = CA:TRUE
keyUsage = keyCertSign, cRLSign

[ crl_ext ]
authorityKeyIdentifier=keyid:always
