[ req ]
distinguished_name  = req_distinguished_name
req_extensions = req_ext
x509_extensions = x509_ext

[ req_distinguished_name ]
countryName = US
stateOrProvinceName = CA
localityName = Coronado
organizationalUnitName = NestedSet

[ req_ext ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth,serverAuth
subjectKeyIdentifier = hash

[ x509_ext ]
subjectKeyIdentifier  = hash
authorityKeyIdentifier  = keyid:always,issuer:always
basicConstraints = CA:true

[ crl_ext ]
authorityKeyIdentifier=keyid:always
